{% extends "::base.html.twig" %}

{% block body %}
    <p>{{ person.firstName }} {{ person.lastName }}</p>
    <p>{{ person.description }}</p>
    <a href="{{ path('modify', {'id': person.id}) }}">Zmień lub uzupełnij dane</a>
{% endblock %}
